# Data (ignore all data except for some example images)
# For more info on this, check https://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder
data/*
!data/test/
!data/train/
!data/val/

data/test/*
data/train/*
data/val/*
!data/test/n02085620-Chihuahua/
!data/train/n02085620-Chihuahua/
!data/val/n02085620-Chihuahua/

data/test/n02085620-Chihuahua/*
data/train/n02085620-Chihuahua/*
data/val/n02085620-Chihuahua/*
!data/test/n02085620-Chihuahua/n02085620_588.jpg
!data/train/n02085620-Chihuahua/n02085620_199.jpg
!data/val/n02085620-Chihuahua/n02085620_1152.jpg

# Environment variables file
# .env
 
# Byte-compiled / optimized / DLL files
__pycache__
 
# Jupyter notebook checkpoints
.ipynb_checkpoints